<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
    <h1>Project</h1>
    <a href="portTest/login.html" th:href="@{login}">
        Login
    </a><br>
    <a href="portTest/join.html" th:href="@{getJoin}">
        게시글 작성
    </a><br>

<table border = "1">
    <tr>
        <th align="center" width="40">No</th>
        <th align="center" width="80">Id</th>
        <th align="center" width="200">Title</th>
        <th align="center" width="120">Nickname</th>
        <th align="center" width="80">Date</th>
    </tr>
    <tr th:if="${#lists.isEmpty(plist)}">
        <td colspan="8">
            List is Empty
        </td>
    </tr>
    <tr th:each="portTest: ${plist}">
        <td align="center" th:text="${portTest.idNo}">
            ${portTest.idNo}
        </td>

        <td align="center">
            <a href="portTest/pread.html"
               th:href="@{|pread?idNo=${portTest.idNo}|}"
               th:text="${portTest.id}">
                ${portTest.id}</a>
        </td>

        <td align="center" th:text="${portTest.title}">
            ${portTest.title}
        </td>

        <td align="center" th:text="${portTest.nickname}">
            ${portTest.nickname}
        </td>

        <td align="center"
            th:text="${#dates.format(portTest.regDate,
            'yyyy-MM-dd HH:mm:ss')}">
            ${portTest.regDate}
        </td>
    </tr>
</table>
</body>
</html>